.menu-container {
    position: fixed;
    display: flex;
    top: calc(50% - 150px);
    left: 2%;
    width: 50px;
    border-radius: 24px;
    background-color: white;
    justify-content: space-between;
    flex-direction: column;
    padding: 5px 0;

}

.button-menu {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    margin: 0 auto;
    background: none;
    border: none;
    box-shadow: 1px 1px gray;
    margin: 5px auto;
    cursor: pointer;
}



.dropdown {
    background-color: #21527afa;
}

.dropdown-content {
    position:absolute;
    left: 50px;
    background-color: #f9f9f9;
    min-width: 200px;
    min-height: 50px;
    box-shadow: 0px 8px 16px 0px black;
    border-radius: 24px;
    
}

.dropdown-content .button-menu{
    margin: 5px ;
}


.black {
    background-color: black;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

